---
import { siteConfig } from '@/site.config';
import Container from '@/components/layout/Container.astro';
import Icon from '@/components/common/IconWrapper.astro';
import Avatar from '@/components/widgets/Avatar.astro';

const currentYear = new Date().getFullYear();

const socialLinks = (siteConfig.navigation.social || []).filter(
  (s) => s && s.url && s.icon
);

const footerEnabled = siteConfig.footer.enabled;
const showSocial = siteConfig.footer.showSocialIconsInFooter && socialLinks.length > 0;

const footerContent = siteConfig.footer.content.replace(
  '{author}',
  siteConfig.author
).replace(
  '{year}',
  currentYear.toString()
);

---
<footer class="animate my-16">
  <Container>

    <!-- Footer row -->
    {(footerEnabled) && (
      <div
        class={[
          'text-center',
          footerEnabled && 'flex flex-col md:flex-row md:items-center md:justify-between',
        ]
          .filter(Boolean)
          .join(' ')}
      >
        <Avatar currentPlacement="footer" />
        
        <!-- Footer text -->
        <p
          class="text-sm text-content-3 order-2"
          set:html={footerContent}
        />

        <!-- Social links -->
        {showSocial && (
          <div class="not-prose mt-4 order-1 md:order-2 md:mt-0 flex justify-center md:justify-end items-center gap-4">
            {socialLinks.map((social) => (
              <a
                href={social.url}
                title={social.title}
                class="text-content-3 hover:text-content transition-colors"
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon name={social.icon} class="size-5" />
                <span class="sr-only">{social.title}</span>
              </a>
            ))}
          </div>
        )}
      </div>
    )}

  </Container>
</footer>
